{% extends 'main/header.html' %}

{% block content %}
<form method="POST">
    <blockquote>
        <h3>Enter these student details to view all details</h3>
    </blockquote>
    
    {% csrf_token %}
    {{ form.as_ul }}
    <button class="btn waves-effect" type="submit">Check</button>
    <br><br>

    {% if student %}
    {% csrf_token %}
    <img src="{{ student.student_img.url }}" class="circle responsive-img"
                    style="height: 150px; width: 150px;" />
    <table class="striped centered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Student Mobile Name</th>
                <th>Student Email</th>
                <th>Student date of birth</th>
                <th>Marks in subject A</th>
                <th>Marks in subject B</th>
                <th>Marks in subject C</th>
                <th>Guardian Name</th>
                <th>Guardian Mobile Name</th>
                <th>Guardian Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ student.student_First_Name }} {{ student.student_Last_Name }}</td>
                <td>{{ student.student_mobile_number }}</td>
                <td>{{ student.student_email }}</td>
                <td>{{ student.student_DOB }}</td>
                <td>{{ student.student_marks_A }}</td>
                <td>{{ student.student_marks_B }}</td>
                <td>{{ student.student_marks_C }}</td>
                <td>{{ student.guardian_First_Name }} {{ student.guardian_Last_Name }}</td>
                <td>{{ student.guardian_mobile_number }}</td>
                <td>{{ student.guardian_email }}</td>
            </tr>
        </tbody>
    </table>
              
    {% endif %}

</form>
<style>
    .errorlist {
        color: red;
        border: 1px red solid;
    }
</style>
{% endblock %}