{% extends 'main/header.html' %}

{% block content %}
<div class="row">
    <blockquote>
        <h3>Our students</h3>
    </blockquote>
    <br>
    {% for stu in students %}
    <div class="col s12 m6 l3">
        <div class="card blue-grey darken-1 hoverable">
            <div class="card-content white-text">
                <img src="{{ stu.student_img.url }}" class="circle responsive-img"
                    style="height: 100px; width: 100px;" />
                <span class="card-title">{{stu.student_name}}</span>
                <p style="font-size:70%">{{stu.student_age}}</p>
                <p style="font-size:70%">{{stu.student_email}}</p>
                <p style="font-size:70%">{{stu.student_timeofreg}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}