{% extends 'main/header.html' %}

{% block content %}
<div class="row">
    <blockquote>
        <h3>Merit List</h3>
    </blockquote>
    <table class="striped centered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Mark in A</th>
                <th>Mark in B</th>
                <th>Mark in C</th>
                <th>Total marks</th>

            </tr>
        </thead>

        <tbody>
            {% for name, tmarks, marka, markb, markc in meritlist %}
            <tr>
                <td>{{ name }}</td>
                <td>{{ marka }}</td>
                <td>{{ markb }}</td>
                <td>{{ markc }}</td>
                <td>{{ tmarks }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
</div>
{% endblock %}