{% extends 'main/header.html' %}

{% block content %}
<form method="POST" enctype="multipart/form-data">
    {% if form.non_field_errors %}
    <ul class="non-field-errors">
        {% for err in form.non_field_errors %}
        <p class="errorlist">{{ err }}</p>
        {% endfor %}
    </ul>
    {% endif %}
    {% csrf_token %}
    <div class="row">
        <div class="col s12 l6">
            {{ form.student_name.label_tag }}
            {{ form.student_name.errors }}
        </div>
        <div class="col s12 l6">
            {{ form.student_name }}
        </div>
    </div>

    <div class="row">
        <div class="col s12 l6">
            {{ form.student_email.label_tag }}
            {{ form.student_email.errors }}
        </div>
        <div class="col s12 l6">
            {{ form.student_email }}
        </div>
        {% if form.student_email.help_text %}
        <sup>{{ form.student_email.help_text }}</sup>
        {% endif %}
    </div>

    <div class="row">
        <div class="col s12 l6">
            {{ form.student_mobile_number.label_tag }}
            {{ form.student_mobile_number.errors }}
        </div>
        <div class="col s12 l6">
            {{ form.student_mobile_number }}
        </div>
        {% if form.student_mobile_number.help_text %}
        <sup>{{ form.student_mobile_number.help_text }}</sup>
        {% endif %}
    </div>

    <div class="row">
        <div class="col s12 l6">
            {{ form.student_DOB.label_tag }}
            {{ form.student_DOB.errors }}
        </div>
        <div class="col s12 l6">
            {{ form.student_DOB }}
        </div>
        {% if form.student_DOB.help_text %}
        <sup>{{ form.student_DOB.help_text }}</sup>
        {% endif %}
    </div>
    <div class="row">
        <div class="col s12 l6">
            {{ form.student_marks_A.label_tag }}
            {{ form.student_marks_A.errors }}
        </div>
        <div class="col s12 l6">
            {{ form.student_marks_A }}
        </div>
        {% if form.student_marks_A.help_text %}
        <sup>{{ form.student_marks_A.help_text }}</sup>
        {% endif %}
    </div>
    <div class="row">
        <div class="col s12 l6">
            {{ form.student_marks_B.label_tag }}
            {{ form.student_marks_B.errors }}
        </div>
        <div class="col s12 l6">
            {{ form.student_marks_B }}
        </div>
        {% if form.student_marks_B.help_text %}
        <sup>{{ form.student_marks_B.help_text }}</sup>
        {% endif %}
    </div>
    <div class="row">
        <div class="col s12 l6">
            {{ form.student_marks_C.label_tag }}
            {{ form.student_marks_C.errors }}
        </div>
        <div class="col s12 l6">
            {{ form.student_marks_C }}
        </div>
        {% if form.student_marks_C.help_text %}
        <sup>{{ form.student_marks_C.help_text }}</sup>
        {% endif %}
    </div>
    <div class="row">
        <div class="col s12 l6">
            {{ form.student_img.label_tag }}
            {{ form.student_img.errors }}
        </div>
        <div class="col s12 l6">
            {{ form.student_img }}
        </div>
        {% if form.student_img.help_text %}
        <sup>{{ form.student_img.help_text }}</sup>
        {% endif %}
    </div>
    <button class="btn waves-effect" type="submit">Register</button>


</form>
<style>
    .errorlist {
        color: red;
        border: 1px red solid;
    }
</style>
{% endblock %}