<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Student registration portal</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">|||</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/merit_list">Merit List</a></li>
        </ul>
    </div>
</nav>
<ul class="sidenav" id="mobile-demo">
    <li><a href="/">Home</a></li>
    <li><a href="/register">Register</a></li>
</ul>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems, {});
    });
</script>